<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Total Salary</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Total Salary</h1>
  <p>Total Salary of All Employees: $<span id="total-salary"><%= totalSalary %></span></p>
  <a href="/" class="button">Back to Home</a>
</body>
</html>
